# This file defines the FW git repos and where they belong to in the tree.
# repo.defaulturl      The base URL of the git repo that will be used if no individual url
#                      is specified.
# repo.<name>.path     (Sub-)directory where git repo <name> will end up on local machine
# repo.<name>.platform Platform: Windows or Linux. If not specified: all platforms.
# repo.<name>.url      base URL of git repo <name> (without trailing slash). Full name will be
#                      $URL/$name.git.
# repo.<name>.isModule True if this repo is a submodule.
# repo.<name>.include  True if this submodule should be fetched by default. If false this
#                      submodule will be ignored. If the user wants/needs it, he can get it
#                      by running the commands "git submodule init <name> && git submodule update".
#                      Defaults to true.
# repo.<name>.visible  True if this submodule will appear in the list of repos shown to the user.
#                      Defaults to true for submodules.
# repo.<name>.init     True if this submodule should be initialized like a regular repo, i.e.
#                      git-flow and git-gui settings etc. initialized. This probably should be
#                      true only for FieldWorks related repos. Defaults to false.

[repo]
	defaulturl = https://github.com/sillsdev
[repo "fwmeta"]
	path = .
[repo "shunit2"]
	path = fwmeta/tests/shunit2
	isModule = true
	include = false
	visible = false
[repo "FieldWorks"]
	path = fw
[repo "FwMovies"]
	path = fw/DistFiles/Language Explorer/Movies
[repo "FwSampleProjects"]
	path = fw/DistFiles/ReleaseData
[repo "FwDocumentation"]
	path = FwDocumentation
[repo "FwHelps"]
	path = fw/DistFiles/Helps
[repo "FwDebian"]
	path = debian
	platform = Linux
[repo "FwDebian-l10n"]
	path = fw/debian-l10n
	platform = Linux
[repo "FwInstaller"]
	path = fw/Installer
	platform = Windows
[repo "FwLocalizations"]
	path = fw/Localizations
[repo "FwSupportTools"]
	path = FwSupportTools
[repo "PatchableInstaller"]
	path = fw/PatchableInstaller
	platform = Windows
	include = true
	url = https://github.com/sillsdev/genericinstaller.git
	visible = true
[repo "WorldPad"]
	path = WorldPad
[repo "mono"]
	path = mono/mono
	platform = Linux
[repo "mono-basic"]
	path = mono/mono-basic
	platform = Linux
[repo "mono-calgary"]
	path = mono/mono-calgary
	platform = Linux
[repo "gtk-sharp"]
	path = mono/gtk-sharp
	platform = Linux
[repo "libgdiplus"]
	path = mono/libgdiplus
	platform = Linux
[repo "libcom"]
	path = libcom
	platform = Linux
[repo "AcceptanceTests"]
	path = fw/AcceptanceTests
	url = https://gerrit.lsdev.sil.org/AcceptanceTests
[repo "test"]
	path = test
[repo "SharpZipLib"]
	path = fw/Lib/src/SharpZipLib
	isModule = true
	include = false
	visible = false
[repo "msbuildtasks"]
	path = fw/Build/Src/msbuildtasks
	isModule = true
	include = false
	visible = false
