# This file defines the FW git repos and where they belong to in the tree.
# repo.defaulturl      The base URL of the git repo that will be used if no individual url
#                      is specified.
# repo.<name>.path     (Sub-)directory where git repo <name> will end up on local machine
# repo.<name>.platform Platform: Windows or Linux. If not specified: all platforms.
# repo.<name>.url      base URL of git repo <name> (without trailing slash). Full name will be
#                      $URL/$name.git

[repo]
	defaulturl = git://github.com/sillsdev
[repo "fwmeta"]
	path = .
[repo "FieldWorks"]
	path = fw
[repo "FwMovies"]
	path = fw/DistFiles/Language Explorer/Movies
[repo "FwSampleProjects"]
	path = fw/DistFiles/ReleaseData
[repo "FwDocumentation"]
	path = FwDocumentation
[repo "FwHelps"]
	path = fw/DistFiles/Helps
[repo "FwDebian"]
	path = fw/debian
	platform = Linux
[repo "FwInstaller"]
	path = fw/Installer
	platform = Windows
[repo "FwLocalizations"]
	path = fw/Localizations
[repo "FwSupportTools"]
	path = FwSupportTools
[repo "WorldPad"]
	path = WorldPad
[repo "mono"]
	path = mono/mono
	platform = Linux
[repo "mono-basic"]
	path = mono/mono-basic
	platform = Linux
[repo "gtk-sharp"]
	path = mono/gtk-sharp
	platform = Linux
[repo "libgdiplus"]
	path = mono/libgdiplus
	platform = Linux
[repo "libcom"]
	path = libcom
	platform = Linux
[repo "test"]
	path = test
